<div class="clearfix">
    <p class="pull-right"><%= image_tag "/images/logo.png" %></p>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li<% if params[:controller] == 'home' %> class="active"<% end %>><%= link_to "Home", :controller => "home", :action => "index" %></li>
                    <li<% if params[:controller] == 'riad' %> class="active"<% end %>><%= link_to "The Riad", :controller => "riad", :action => "index" %></li>
                    <li<% if params[:controller] == 'rooms' %> class="active"<% end %>><%= link_to "Rooms", :controller => "rooms", :action => "index" %></li>
                    <li<% if params[:controller] == 'gallery' %> class="active"<% end %>><%= link_to "Gallery", :controller => "gallery", :action => "index" %></li>
                    <li<% if params[:controller] == 'services' %> class="active"<% end %>><%= link_to "Services", :controller => "services", :action => "index" %></li>
                    <!--<li<% if params[:controller] == 'booking' %> class="active"<% end %>><%= link_to "Booking", :controller => "booking", :action => "index" %></li>-->
                    <li<% if params[:controller] == 'contact' %> class="active"<% end %>><%= link_to "Contact us", :controller => "contact", :action => "index" %></li>
                    <li><%= link_to "Reviews", "http://www.tripadvisor.co.uk/Hotel_Review-g293734-d3834543-Reviews-Riad_Yamina-Marrakech_Marrakech_Tensift_El_Haouz_Region.html" %></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
