<% content_for :banner do %>
    <section id="hero">
        <%= image_tag "/images/riad_hero.jpg" %>
    </section>

    <h1 class="title">Confirm and Submit your booking</h1>
<% end %>
<div class="row">
    <div class="span8">
        <div class="row">
            <div class="span4">
                <h4>Personal Information</h4>
                <dl class="dl-horizontal">
                    <dt>First Name:</dt>
                    <dd><%= @booking.firstName %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Last Name:</dt>
                    <dd><%= @booking.lastName %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Email Address:</dt>
                    <dd><%= @booking.email %></dd>
                </dl>
                <% if @booking.phoneNumber %>
                    <dl class="dl-horizontal">
                        <dt>Phone number:</dt>
                        <dd><%= @booking.phoneNumber %></dd>
                    </dl>
                <% end %>

                <h4>Booking information</h4>
                <dl class="dl-horizontal">
                    <dt>Arrival date:</dt>
                    <dd><%= @booking.arrival.strftime('%d/%m/%Y') %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Departure date:</dt>
                    <dd><%= @booking.departure.strftime('%d/%m/%Y') %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Number of nights:</dt>
                    <dd><%= number_of_days(@booking.arrival, @booking.departure) %></dd>
                </dl>
                <h4>Room and Price breakdown</h4>
                <% if @booking.roomRiadGuests %>
                    <dl class="dl-horizontal">
                        <dt>Tge Riad</dt>
                        <dd>Guests: <%= @booking.roomRiadGuests %></dd>
                        <dd>Price per night: <%= number_to_currency(420, :unit => "&pound;") %></dd>
                        <dd>Room Extra: <%= number_to_currency(@pricing[:breakdown]["riad"], :unit => "&pound;") %>*
                        </dd>
                    </dl>
                <% else %>
                    <% @rooms.each do |room| %>
                        <% if @booking[:"room#{room.name}Guests"] %>
                            <dl class="dl-horizontal">
                                <dt><%= room.name %> room</dt>
                                <dd>Guests: <%= @booking[:"room#{room.name}Guests"] %></dd>
                                <dd>Price per night: <%= number_to_currency(room.priceMax, :unit => "&pound;") %></dd>
                                <dd>Room
                                    Extra: <%= number_to_currency(@pricing[:breakdown]["#{room.name}"], :unit => "&pound;") %>
                                    *
                                </dd>
                            </dl>
                        <% end %>
                    <% end %>
                <% end %>
            </div>
            <div class="span4">
                <h4>Total Booking Cost</h4>

                <div class="price_total">
                    <p>Extra: <span><%= number_to_currency(@pricing[:extra], :unit => "&pound;") %>*</span></p>

                    <p>Total Booking Price:
                        <span><%= number_to_currency(@pricing[:price]+ @pricing[:extra], :unit => "&pound;") %></span>
                    </p>

                    <p>Minimum Deposit: <span><%= number_to_currency(@pricing[:deposit], :unit => "&pound;") %></span>
                    </p>
                </div>
                <br><br>

                <div>
                    <fieldset>
                        <legend class="hide">Payment</legend>
                        <label class="radio">
                            <input name="payment" value="<%= @pricing[:deposit] %>" type="radio" checked="checked" />
                            Pay deposit only
                        </label>
                        <label class="radio">
                            <input name="payment" value="<%= @pricing[:price] + @pricing[:extra] %>" type="radio" />
                            Pay in full
                        </label>
                    </fieldset>
                    <br>
                    <%= link_to 'Cancel', {action: 'cancel', id: @booking}, class: 'btn btn pull-left' %>
                    <%
                       @ref = ''
                       @ref += number_of_days(@booking.arrival, @booking.departure).to_s + ' nights'
                       @rooms.each do |room|
                         if @booking[:"room#{room.name}Guests"]
                            @ref += ' - room ' + room.name + ', ' +  @booking[:"room#{room.name}Guests"].to_s + ' guests'
                         end
                       end
                    %>
                    <span class="pull-right">
                        <script src="/assets/paypal-button.min.js?merchant=<%= APP_CONFIG['paypal_email'] %>"
                                                     data-button="buynow"
                                                     data-first_name="<%= @booking[:firstName] %>"
                                                     data-last_name="<%= @booking[:lastName] %>"
                                                     data-email="<%= @booking[:email] %>"
                                                     data-item_number="<%= @booking[:id] %>"
                                                     data-name="Booking Riad - <%= @ref %>"
                                                     data-quantity="1"
                                                     data-amount="<%= @pricing[:deposit] %>"
                                                     data-currency="GBP"
                                                     data-shipping="0"
                                                     data-tax="0"
                                                     data-callback="<%= url_for controller: 'booking', action: 'notify', id: @booking, host: APP_CONFIG['base_url'] %>"
                                                     data-return="<%= url_for controller: 'booking', action: 'success', id: @booking, host: APP_CONFIG['base_url'] %>"
                                                     data-cancel_return="<%= url_for controller: 'booking', action: 'cancel', id: @booking, host: APP_CONFIG['base_url'] %>"
                                                     <% if Rails.env.development? %>data-env="sandbox"<% end %>>

                         </script>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('input[type=radio]').on('click', function(e){
            var price = $(e.currentTarget).val();
            $('form input[name=amount]').val(price);
        })
    </script>
    <div class="span4">
        <iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=210351549676460519806.0004d5da78e1d4d838b13&amp;ie=UTF8&amp;t=m&amp;ll=31.626417,-7.984271&amp;spn=0.010963,0.012832&amp;z=15&amp;output=embed"></iframe>
        <br/>
        <small>View
            <a href="https://maps.google.co.uk/maps/ms?msa=0&amp;msid=210351549676460519806.0004d5da78e1d4d838b13&amp;ie=UTF8&amp;t=m&amp;ll=31.626417,-7.984271&amp;spn=0.010963,0.012832&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Riad
                Yamina</a> in a larger map
        </small>
        <div>
            <%= image_tag "/images/logo.png" %>
            <address>
                52. Derb Jamaa,<br/>
                Dabachi Medina, Marrakech<br/>
                <abbr title="Telephone">Tel</abbr> Morocco 00 212 655686035<br/>
                Mobile Uk 07539522083 or 07956298495<br/>
                <a href="mailto:info@riadyamina.com">info@riadyamina.com</a>
            </address>
        </div>
        <div>
            <h6>To get to the Riad Yamina</h6>

            <p>From the main square of Jemaa el Fena it is approximately a 5minute walk. When you arrive at the square
                ask around for directions to Café de France, which is located opposite the distinctive Kharbouche
                mosque. Keeping the Café on your right, exit the square and you will emerge onto the road called Derb
                Dabachi a busy road flanked with shops and cafes. Count three right turnings and take the third which
                will then put you on Derb Jamaá, a narrow road with high buildings to either side. Continue down the
                road and follow it through to your left then straight ahead in less than a minute you will see a large
                wooden door that is facing you. (52 Riad Yamina).</p>
        </div>
    </div>
</div>