<div class="row">
    <% @rooms.each do |room| %>
        <div class="span12 room">
            <div class="row">
                <div class="span4">
                    <a name="<%= room["name"] %>"></a>
                    <h5><%= room["name"] %> Suite</h5>
                    <p><%= room["description"] %></p>
                    <h5>Prices</h5>
                    <h6>Rate per night per room:</h6>
                    <dl>
                        <dt><%= room["name"] %> - <%= room["roomType"] %> (sleeps <%= room["guestMin"] %>/<%= room["guestMax"] %>)</dt>
                        <dd><%= number_to_currency(room["priceMin"], :unit => "£") %> / <%= number_to_currency(room["priceMinEuro"], :unit => "€") %> Mid season</dd>
                        <dd><%= number_to_currency(room["priceMax"], :unit => "£") %> / <%= number_to_currency(room["priceMaxEuro"], :unit => "€") %> High season*</dd>
                    </dl>
                    <dl>
                        <dt>*High season dates:</dt>
                        <dd>1st February 2016 – 29th February 2016</dd>
                        <dd>10th March 2016 – 30th April 2016</dd>
                        <dd>20th May 2016 - 31st May 2016</dd>
                        <dd>1st October 2016 – 31st  October 2016</dd>
                        <dd>10th  December 2016 – 06th January 2017</dd>
                    </dl>

                    <p class="pull-right"><%= link_to "Check availability", {controller: 'contact'}, :class => "btn btn-primary" %></p>
                </div>

                <div class="span4">
                    <%= image_tag "/images/rooms/room-" + room["name"].downcase + "-1.jpg" %>
                </div>

                <div class="span4">
                    <%= image_tag "/images/rooms/room-" + room["name"].downcase + "-2.jpg" %>
                </div>
            </div>
        </div>
    <% end %>
</div>